# Eclipse
.classpath
.project
.settings/
.eclipse-pmd

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
/target/

# Tests
testResults/
scxmlTmpDir/
/test.xsd
/log.html
/log.xml

# VS Code
*.code-workspace
