<?xml version="1.0" encoding="UTF-8"?>
<ShapeChangeConfiguration xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns="http://www.interactive-instruments.de/ShapeChange/Configuration/1.1"
	xmlns:sc="http://www.interactive-instruments.de/ShapeChange/Configuration/1.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.interactive-instruments.de/ShapeChange/Configuration/1.1 src/main/resources/schema/ShapeChangeConfiguration.xsd">
	<input id="original">
		<parameter name="inputModelType" value="EA7" />
		<parameter name="inputFile"
			value="src/test/resources/associationClassMapper/basic/test_associationClass_transformation.qea" />
		<parameter name="appSchemaName" value="AppSchema" />
		<parameter name="publicOnly" value="true" />
		<parameter name="checkingConstraints" value="disabled" />
		<parameter name="sortedSchemaOutput" value="true" />
		<parameter name="extractSeparator" value="--" />
		<xi:include href="src/main/resources/config/StandardAliases.xml" />
		<descriptorSources>
			<DescriptorSource descriptor="documentation" source="ea:notes" />
			<DescriptorSource descriptor="alias" source="sc:extract"
				token="Name" />
				<DescriptorSource descriptor="primaryCode" source="sc:extract"
				token="Primary code" />
			<DescriptorSource descriptor="definition" source="sc:extract"
				token="Definition" />
			<DescriptorSource descriptor="description" source="sc:extract"
				token="Description" />
			<DescriptorSource descriptor="example"  source="sc:extract"
				token="Example" />
			<DescriptorSource descriptor="legalBasis" source="sc:extract"
				token="Legal basis" />
			<DescriptorSource descriptor="dataCaptureStatement"
				 source="sc:extract"
				token="Data capture statement" />
			<DescriptorSource descriptor="language" source="sc:extract"
				token="Language" />
		</descriptorSources>
	</input>
	<log>
		<parameter name="reportLevel" value="INFO" />
		<parameter name="logFile"
			value="testResults/associationClassMapper/basic/log.xml" />
	</log>
	<transformers>
		<Transformer id="associationClassMapper" input="original"
			class="de.interactive_instruments.ShapeChange.Transformation.Flattening.AssociationClassMapper" />
	</transformers>
	<targets>
		<TargetXmlSchema inputs="associationClassMapper original"
			class="de.interactive_instruments.ShapeChange.Target.XmlSchema.XmlSchema"
			mode="enabled">
			<targetParameter name="outputDirectory"
				value="testResults/associationClassMapper/basic" />
			<targetParameter name="sortedOutput" value="true" />
			<targetParameter name="defaultEncodingRule" value="gml33" />
			<xi:include href="src/main/resources/config/StandardRules.xml" />
			<xi:include href="src/main/resources/config/StandardNamespaces.xml" />
			<xi:include href="src/main/resources/config/StandardMapEntries.xml" />
			<xsdMapEntries>
				<XsdMapEntry type="AssociationClassExt1_A"
					xsdEncodingRules="*" xmlPropertyType="AssociationClassExt1_APropertyType"
					xmlElement="AssociationClassExt1_A" xmlType="AssociationClassExt1_AType" />
				<XsdMapEntry type="EXT1_1" xsdEncodingRules="*"
					xmlPropertyType="EXT1_1PropertyType" xmlElement="EXT1_1" xmlType="EXT1_1Type" />
				<XsdMapEntry type="EXT1_2" xsdEncodingRules="*"
					xmlPropertyType="EXT1_2PropertyType" xmlElement="EXT1_2" xmlType="EXT1_2Type" />
				<XsdMapEntry type="EXT1_3" xsdEncodingRules="*"
					xmlPropertyType="EXT1_3PropertyType" xmlElement="EXT1_3" xmlType="EXT1_3Type" />
			</xsdMapEntries>
		</TargetXmlSchema>
<!-- 		<Target -->
<!-- 			class="de.interactive_instruments.ShapeChange.Target.FeatureCatalogue.FeatureCatalogue" -->
<!-- 			inputs="original associationClassMapper" mode="enabled"> -->
<!-- 			<targetParameter name="outputDirectory" -->
<!-- 				value="testResults/associationClassMapper/basic" /> -->
<!-- 			<targetParameter name="outputFilename" value="associationClassTransform" /> -->
<!-- 			<targetParameter name="sortedOutput" value="true" /> -->
<!-- 			<targetParameter name="inheritedProperties" value="false" /> -->
<!-- 			<targetParameter name="outputFormat" value="HTML" /> -->
<!-- 			<targetParameter name="name" value="'Test application schema'" /> -->
<!-- 			<targetParameter name="scope" value="This feature catalogue ..." /> -->
<!-- 			<targetParameter name="versionNumber" value="n/a" /> -->
<!-- 			<targetParameter name="versionDate" value="n/a" /> -->
<!-- 			<targetParameter name="producer" value="interactive instruments GmbH" /> -->
<!-- 			<targetParameter name="xsltPfad" value="src/main/resources/xslt" /> -->
<!-- 			<targetParameter name="xslhtmlFile" value="html.xsl" /> -->
<!-- 		</Target> -->
	</targets>
</ShapeChangeConfiguration>
